/*
.difficulty-bg-1{
    background-color: #4CAF50;
}
.difficulty-bg-2{
    background-color: #00B0FF;
}
.difficulty-bg-3{
    background-color: #673AB7;
}
.difficulty-bg-4{
    background-color: #FFC107;
}
.difficulty-bg-5{
    background-color: #E91E63;
}*/
